:root{
  --primary: #079fe0;
  --first: #b3f2ff;
  --secondary: #b3ffb3;
  --third: #ffddab;
  --fourth: #ba65a0;
  --textbox: #f06cc8;
}

.center{
  text-align: center;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.subtitle{
  padding: 0 0 0 0!important;
  margin-bottom: 100px!important;
  font-weight: 500!important;
  font-size: 150%!important;
}

h1 {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
}

div.slide {
  z-index: 20;
  margin: 0 0 0 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10%;
  padding-right: 10%;
  border-width: 0;
  clear: both;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 120%;
  background-color: transparent;
}

div.slide h1 {
  padding-left: 20pt;
  padding-right: 0;
  padding-top: 0pt;
  padding-bottom: 4pt;
  margin-top: 40pt!important;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 50px!important;
  display: block;
  font-size: 200%;
  font-weight: 800;
  line-height: 1.2em;
  /*background: #E0E3FA; */
  /*background: var(--primary);*/
  background-image: linear-gradient(to right, #fff, var(--primary));
  border-radius: 5px;
  font-family: 'Montserrat Alternates', sans-serif;
}

div.slide h3 {
  background-image: linear-gradient(to right, #fff, var(--secondary));
  border-radius: 5px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.greyout {
  background-image: linear-gradient(to right, #fff, grey)!important;
}

.nocolor h1 {
  padding-left: 20pt;
  padding-right: 0;
  padding-top: 0pt;
  padding-bottom: 4pt;
  margin-top: 40pt!important;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 50px!important;
  display: block;
  font-size: 200%;
  font-weight: 800;
  line-height: 1.2em;
  background: none!important;
  font-family: 'Montserrat Alternates', sans-serif;
}

.bolder {
  font-weight: bolder;
}

h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 150%;
  font-weight: 500;
}

body
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  color: black;
  background-color: white;
  /*font-family: "Helvetica", sans-serif;*/
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  font-size: 25pt!important;
}

.centerparagraph {
  text-align: left;
  padding-top: 50px;
  line-height: 1;
  font-size: 150%;
  font-weight: 300;
  font-family: 'Work Sans', sans-serif;
}

blockquote {
  font-size: 100%!important;
  padding-right: 0!important;
  margin-right: 0!important;
}

table {
  font-size: 100%!important;
}
