.figure {
     border-top: 0px !important;
     border-bottom: 0px !important;
   }

.inline-figure {
     border: 0px !important;
   }

h2, h3 {
  background-color: #fef5ff !important;
}

h4 {
background-color: #faece3 !important;
}

blockquote p {
  font-weight: 200 !important;
  font-family: 'Work Sans:ital', sans-serif !important;
  font-style: italic !important;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
