@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700&family=Work+Sans:wght@300;400&display=swap');

p {
  font-family: 'Work Sans' !important;
}

h1 {
  font-size: 400;
  font-family: 'Montserrat Alternates' !important;
}

h2 {
  font-size: 600;
  font-family: 'Montserrat Alternates' !important;
}

.figure {
     border-top: 0px !important;
     border-bottom: 0px !important;
   }

.inline-figure {
     border: 0px !important;
   }

h2, h3 {
  background-color: #fef5ff !important;
}

h4 {
font-weight: 300 !important;
background-color: #faece3 !important;
}

blockquote p {
  font-weight: 200 !important;
  font-family: 'Work Sans:ital', sans-serif !important;
  font-style: italic !important;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.csl-entry {
  padding-left: 20px!important;
  text-indent: -20px!important;
  padding-bottom: 10px;
}

@media (max-width: 767.98px) {
  .floatright50 {
    width: 80%;
  }

  .floatrightbox {
    float: none;
    width: 80%;
    padding: 10px;
  }
}

.floatright50 {
  float: right;
  width: 50%;
}

.floatrightbox {
  float: right;
  width: 50%;
  padding: 10px;
}


