@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700&family=Work+Sans:wght@300;400&display=swap');

:root{
  --primary: #079fe0;
  --secondary: #67bce0;
  --third: #c4fa46;
  --fourth: #ba65a0;
  --textbox: #f06cc8;
}

p {
  font-family: 'Work Sans' !important;
}

 h1 {
  font-size: 400;
  font-family: 'Montserrat Alternates' !important;
  color: var(--primary);
}

.section h2 {
  font-size: 600;
  font-family: 'Montserrat Alternates' !important;
  /*background-color: #fef5ff !important; */
  /*background-color: var(--secondary) !important;*/
  background-image: linear-gradient(to right, #fff, var(--primary));
  border-radius: 5px;
}

.section h3 {
  /*background-color: #fef5ff !important; */
  /*background-color: var(--secondary) !important;*/
  background-image: linear-gradient(to right, #fff, var(--secondary));
  border-radius: 5px;
  padding-left: 15px;
}

.section h4 {
  font-weight: 300 !important;
  /*background-color: #faece3 !important;*/
  /*background-color: var(--third) !important;*/
  background-image: linear-gradient(to right, #fff, var(--third));
  border-radius: 5px;
  padding-left: 15px;
}

.figure {
     border-top: 0px !important;
     border-bottom: 0px !important;
   }

.inline-figure {
     border: 0px !important;
}

.section .header-section-number {
 padding-left: 5px;
}

blockquote p {
  font-weight: 200 !important;
  font-family: 'Work Sans:ital', sans-serif !important;
  font-style: italic !important;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.csl-entry {
  padding-left: 20px!important;
  text-indent: -20px!important;
  padding-bottom: 10px;
}

@media (max-width: 767.98px) {
  .floatright50 {
    width: 80%;
  }

  .floatrightbox {
    float: none;
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #713a8a;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  }
}

.floatright50 {
  float: right;
  width: 50%;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.floatrightbox {
  float: right;
  width: 50%;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  border: 2px solid var(--textbox);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}


.readingtime {
  margin-left: 50%;
  height: 100px;
  width: 50%;
  border-radius: 15px;
  border: 2px solid var(--textbox);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
